/* font-family: "Open Sans"; */
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/Open_Sans/OpenSans-Light.eot");
	src: url("../fonts/Open_Sans/OpenSans-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Open_Sans/OpenSans-Light.woff") format("woff"),
	url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url("../fonts/Open_Sans/OpenSans-SemiBold.eot");
	src: url("../fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Open_Sans/OpenSans-SemiBold.woff") format("woff"),
	url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "Open Sans Condensed"; */
@font-face {
	font-family: "Open Sans Condensed"; 
	src: url("../fonts/OpenSansCondensed-Bold/OpenSansCondensed-Bold.eot");
	src: url("../fonts/OpenSansCondensed-Bold/OpenSansCondensed-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansCondensed-Bold/OpenSansCondensed-Bold.woff") format("woff"),
	url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}