@media (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 750px;
    }
    header {
        padding: 40px 0 0;
    }
    header .logo img {
        width: 348px;
    }
    header .contacts {
        height: 125px;
        left: auto;
        right: 0;
        top: -30px;
        width: 349px;
    }
    header .contacts p {
        font-size: 28px;
        line-height: 28px;
        margin: 0;
    }
    header .contacts .phone {
        font-size: 44px;
    }
    .services {
        padding: 40px 0;
    }
    .services h2 {
        font-size: 36px;
        margin: 0 0 48px;
    }
    .services ul {
        width: 750px;
    }
    .services ul li {
        width: 375px;
    }
    .plus {
        padding: 40px 0;
    }
    .plus h2 {
        font-size: 36px;
        margin: 0 0 48px;
    }
    .plus ul li {
        margin: 0 0 24px;
    }
    .about {
        padding: 40px 0;
    }
    .about .title p {
        font-size: 24px;
        padding: 0 0 0 100px;
    }
    .about blockquote {
        width: 704px;
    }
    .about blockquote p:first-child {
        font-size: 16px;
    }
    .about blockquote p {
        font-size: 14px;
    }
    .feedback {
        padding: 30px 0;
    }
    .feedback h3 {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .feedback input[type="text"] {
        font-size: 14px;
        margin: 0 10px 0 0;
        width: 240px;
    }
    .feedback input[type="submit"] {
        font-size: 14px;
        width: 200px;
    }
    footer {
        padding: 30px 0;
    }
    footer .contacts .logo {
        margin: 0 10px 0 0;
    }
    footer .contacts .phone, footer .contacts p {
        font-size: 18px;
    }
}
