@media (max-width: 767px) {
    .container {
        width: 300px;
        padding: 0 10px;
    }
    header {
        height: 640px;
        padding: 20px 0 0;
    }
    header .logo {
        margin: 0 0 20px;
    }
    header .logo img {
        width: 300px;
    }
    header .contacts {
        height: 130px;
        left: auto;
        margin: 0 0 20px;
        position: relative;
        top: auto;
        width: 270px;
    }
    header .contacts:before {
        border-color: transparent transparent rgba(255,255,255,0.8) transparent;
        border-style: solid;
        border-width: 15px;
        width: 0;
        height: 15px;
        left: 50%;
        margin: 0;
        top: -45px;
        width: 0;
        position: absolute;
        content: "";
    }
    header .contacts p {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 5px;
    }
    header .contacts .phone {
        border-width: 3px;
        font-size: 30px;
        line-height: 30px;
    }
    header form {
        margin: 10px 0 0;
    }
    header .form p {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 10px;
    }
    header input[type="text"] {
        font-size: 22px;
        height: 40px;
        margin: 0 0 20px;
        padding: 0 10px;
        width: 280px;
    }
    header input[type="submit"] {
        font-size: 22px;
        height: 40px;
        margin: 20px 0 0;
        width: 300px;
    }
    .services {
        padding: 20px 0;
    }
    .services h2 {
        font-size: 24px;
        margin: 0 0 20px;
    }
    .services ul {
        width: 300px;
    }
    .services ul li {
        width: 300px;
    }
    .plus {
        padding: 20px 0;
    }
    .plus h2 {
        font-size: 24px;
        margin: 0 0 20px;
    }
    .plus ul {
        padding: 0 0 0 30px;
    }
    .plus ul li {
        font-size: 18px;
        list-style-image: url(list-image-mobile.png)/*tpa=http://xn--73-6kcaj3copq.xn--p1ai/images/list-image-mobile.png*/;
        margin: 0 0 10px;
        padding: 0 0 0 10px;
    }
    .about {
        padding: 20px 0;
    }
    .about .title {
        margin: 0 0 10px;
    }    
    .about .title p {
        font-size: 18px;
        padding: 0 0 0 80px;
    }
    .about blockquote {
        padding: 16px 10px 0;
        width: 274px;
    }
    .about blockquote:before {
        letter-spacing: 5px;
        top: -180px;
        left: 10px;
    }
    .feedback {
        padding: 20px 0;
    }
    .feedback h3 {
        font-size: 18px;
        margin: 0 0 18px;
    }
    .feedback input[type="text"] {
        font-size: 14px;
        margin: 0 0 10px;
        padding: 10px;
        width: 280px;
    }
    .feedback input[type="submit"] {
        font-size: 14px;
        float: none;
        width: 300px;
    }
    footer {
        padding: 20px 0;
    }
    footer .contacts {
        float: none;
        margin: 0 0 20px;
        text-align: center;
    }
    footer .contacts .logo {
    }
    footer .contacts .phone {
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
    }
    footer .contacts p {
        font-size: 18px;
    }
    footer .develoer {
        float: none;
        text-align: center;
    }
    footer .develoer a {
        display: inline-block;
    }
}