* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans";
    font-weight: 300;
    color: #000;
}

ol, ul {
    list-style: none;
}

img {
    border: 0;
    display: block;
}

input {
    outline: none;
    border-radius: 0;
}

input[type=text], input[type=submit] {
    font-family: "Open Sans";
    text-transform: uppercase;
    display: inline-block;
}

input[type=submit] {
    font-weight: 600;
}

.req{
    font-size: 36px;
    color: red;
    border-bottom: 2px solid black;
    display: inline-block;
    padding: 0 0 1px 8px;
}

a {
    color: #000;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #bb1d1f;
}

h2 {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin: 0 0 68px;
    text-transform: uppercase;
}

h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
    margin: 0 0 33px;
    text-align: center;
}

mark{
    background: none;
    color: #bb1d1f;
}

.clear-all {
    clear: both;
    height: 1px;
    line-height: 1px;
    margin-top: -1px;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

header {
    background: url(../img/back.jpg) no-repeat center;
    background-size: cover;
    padding: 68px 0 60px;
}

header .logo {
    display: block;
    width: 428px;
    margin: 0 0 86px;
}

header .logo img{
    max-width: 100%;
}

header .contacts {
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    position: absolute;
    height: 159px;
    left: 463px;
    padding: 8px 17px 11px 12px;
    text-align: right;
    top: -45px;
    width: 449px;
}

header .contacts:before {
    border-color: transparent rgba(255,255,255,0.8) transparent transparent;
    border-style: solid;
    border-width: 15px;
    width: 0;
    height: 0;
    left: -45px;
    margin: -15px 0 0;
    top: 50%;
    width: 15px;
    position: absolute;
    content: "";
}

header .contacts p {
    font-family: "Open Sans Condensed";
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 12px;
}

.mark-1 {
    display: block;
    line-height: 39px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

header .contacts .phone {
    display: inline-block;
    font-family: "Open Sans Condensed";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1px;
}

header .contacts .phone:after {
    content: "";
    display: block;
    background: url(../img/dashed.png);
    height: 3px;
    width: 375px;
    margin: -1px 0 0 2px;
}

header .contacts .phone:hover {
    border-color: #bb1d1f;
}

header input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    display: inline-block;
    font-size: 36px;
    height: 50px;
    margin: 0 0 28px;
    padding: 0 5px;
    width: 470px;
}

header input[type="submit"] {
    color: #fff;
    background: #bb1d1f;
    border: 0;
    border-radius: 3px;
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.68);
    display: block;
    font-size: 24px;
    height: 46px;
    margin: 10px 0 0;
    width: 277px;
}

header input[type="submit"]:hover {
    background: #f7f7f7;
    color: #000;
}

::-webkit-input-placeholder {
    color:#000;
    padding-left: 5px;
    margin-left:  10px;
    display: inline-block;
}
::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;}

.text {
    background: #fff;
    display: inline-block;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    margin: 0 0 13px;
    padding: 0 40px 0 17px;
    text-transform: uppercase;
}

.form{
    width: 715px;
}

.mark-2 {
    color: #bb1d1f;
    font-weight: 600;
    letter-spacing: 1.3px;
}

header .form p a {
    display: inline-block;
}

header form {
    margin: 32px 0 0;
    width: 515px;
}

.services {
    padding: 42px 0;
}

.services h2 {
    margin: 0 0 58px;
}

.services ul {
    font-size: 0;

    width: 1020px;
}

.services ul li {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    width: 340px;
    vertical-align: top;
    margin: 0 0 32px;
}

.services ul li img {
    border: 1px solid #f5f5f5;
    border-radius: 100%;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.services figure {
    display: inline-block;
}

.services figcaption {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    width: 160px;
}

.plus {
    background: #f7f7f7;
    padding: 47px 0 40px;
}

.plus ul {
    padding: 0 0 0 75px;
}

.plus ul li {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    list-style-image: url(../img/list-image.png);
    margin: 0 0 38px;
    padding: 0 0 0 27px;
    text-transform: uppercase;
}

.about {
    padding: 103px 0 96px;
}

.about .title {
    margin: 0 60px 27px 60px;
}

.about .title p {
    font-size: 28px;
    letter-spacing: -0.3px;
    line-height: 35px;
    padding: 0 0 0 95px;
    text-transform: uppercase;
}

.about blockquote {
    border: 3px solid #ff9c00;
    border-radius: 10px;
    margin: 0 auto;
    padding: 19px 20px 0;
    position: relative;
    text-align: center;
    width: 794px;
}

.about blockquote:before {
    background: url(../img/blockquote-image.png);
    content: "";
    display: block;
    height: 190px;
    left: 28px;
    position: absolute;
    top: -118px;
    width: 39px;
}

.about blockquote .cur-text{
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    padding: 0 0 38px;
    position: relative;
    margin: 0 50px;
    letter-spacing: 0;
}

.about blockquote .cur-text:after {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -45px;
    bottom: 15px;
    background: #000;
    content: "";
    display: block;
    height: 3px;
    width: 110px;
}

.about blockquote p {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 0 0 22px;
    letter-spacing: 0.5px;
}

.bq-text-2{
    letter-spacing: 0.75px;
}

.feedback {
    background: #bb1d1f;
    padding: 30px 0 43px;
}

.feedback input[type="text"] {
    background: #fff;
    border: 0;
    font-size: 18px;
    height: 22px;
    margin: 0 16px 0 0;
    padding: 9px;
    width: 323px;
}

.feedback input[type="submit"] {
    display: inline-block;
    background: #bb1d1f;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 237px;
}

.feedback input[type="submit"]:hover {
    background: #f7f7f7;
    color: #000;
}

.feedback h3 {
    letter-spacing: 0.5px;
}

.feedback h3 a {
    color: #fff;
    display: inline-block;
}

footer {
    padding: 42px 0;
}

footer .logo {
    display: inline-block;
    margin: 0 12px 0 0;
    vertical-align: top;
}

.footer-contacts{
    display: inline-block;
}

.footer-contacts .phone {
    border-bottom: 1px dashed #000;
    font-family: "Open Sans Condensed";
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
}

.footer-contacts .phone:hover {
    border-color: #bb1d1f;
}

.footer-contacts p {
    font-family: "Open Sans Condensed";
    font-size: 21px;
    font-weight: 700;
    line-height: 18px;
}

footer .develoer{
    display: inline-block;
    margin-left: 370px;
}

footer .develoer a {
    color: #9b9b9b;
    display: block;
    font-size: 14px;
    margin: 10px 0 0;
    position: relative;
    top: -7px;
    left: 3px;
}

footer .develoer a span {
    display: block;
    line-height: 14px;
}

footer .develoer a:hover span {
    color: #bb1d1f;
}